body{

    background-color: rgb(42, 44, 48);
    --button-pressed-color: #e0a016;
    --button-color: rgb(51, 129, 202);

}
.song_button{

    background:none;
    border:none;
    margin:0;
    padding-bottom:15px;
    padding-top:15px;
    cursor: pointer;
    color: var(--button-color);
    font-weight: bold;
    font-size: 2.2em;
    display: block;
    width: 100%;
    

}
p{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3em;
    font-weight: bold;
    color: #606975;
}



.page{
    display: block;
}

.songs_container {
 text-align: center;
 /* background-color: rgb(133, 243, 210); */
 
 /* padding: 2% 5% 0% 5%; */
 /* padding-top: 4%; */
 

}

.player_container{ 

    text-align: center;
    padding: 2% 0% 2% 0%;   
    /* background-color: blueviolet; */
    /* margin-top: 0%; */
    border:solid rgb(80, 81, 82); 
    border-width:1px 0px;
    
   
   
}

.song:hover {
    
    color: rgb(89, 181, 235);
}

.header {

    background-color: rgb(37, 39, 41); 
    width: 100%;   
    text-align: center;           
    padding-top: 1%;   
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 0;
    margin-bottom: 10%;
}

.play_button {
    text-align: center;
    font-weight: bold;
    color:  rgb(80, 81, 82); 
    font-size: 2em;
    padding: 8px;
    width: 150px;
    height: 60px;
    margin: 0px 14px;
    background-color: rgb(42, 44, 48);
    border:solid rgb(92, 93, 94); 
    border-width:0.5px;
    border-radius: 4px;
    -webkit-tap-highlight-color: rgba(167, 169, 170, 0);  


}
.play_button:active{

  color: rgb(255, 255, 255);


}